body {
  background-color: rgb(182, 181, 181);
}

.container {
  border: 1px solid black;
  height: 430px;
  width: 430px; 
  padding: 7px;
  margin: 50px 100px;
  position: relative;
}
.gameBoard {
  background-color: whitesmoke;
  border: 1px solid blue;
  height: 115px;
  width: 115px;
  display: inline-block;
  margin: 10px;
  line-height: 125px;
  font-size: 140px;
  text-align: center;
  
   
}
#wholeGame {
  border: 2pt solid black;
  width: 700px;
  height: 700px;
  margin: 10px 300px;
  position: absolute;
  background-color: rgb(230, 226, 226);
}
  
button {
  margin: 25px 200px;
  height: 45px;
  width: 250px;
  font-size: 25px;
  background: green;
  
}
button:hover {

  background: yellow;
  
}
.whoseTurn {
  height: 20px;
  width: 450px;
  font-size: 40px;
  display: block;
  margin: 50px 200px;
}



  
  
  
